.container {
  background-color: #07689f;
  padding-bottom: 20px;
  border-radius: 20px;
  font-family: "Architects Daughter", cursive;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #a2d5f2;
}
h2,
h3 {
  text-align: center;
  margin-bottom: 15px;
}
h3 {
  color: #a2d5f2;
}
form {
  text-align: center;
  margin-bottom: 20px;
}
input {
  text-align: center;
}
button {
  background-color: #ff7e67;
  color: #fafafa;
  border: #fafafa;
  padding: 10px 20px;
  border-radius: 20px;
}
.current-city,
#date-time,
.wind,
.humidity {
  color: #a2d5f2;
}
.current-temperature {
  color: #fafafa;
  font-size: 75px;
}
#convert {
  font-size: 30px;
}
#celsius-link,
#fahrenheit-link {
  color: #ff7e67;
}
#github-link {
  text-align: center;
}
#or,
#wind-speed,
#humidity-percent {
  color: #fafafa;
}
.active {
  color: #ff7e67;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: #ff7e67;
  text-decoration: none;
  cursor: default;
}
#weather-description {
  text-transform: capitalize;
}
.wind {
  padding-top: 30px;
  font-size: 30px;
}
.weather-forecast-temperature {
  color: #fafafa;
  font-size: 30px;
}
